In [2]:
import pandas as pd
df=pd.read_csv("/File Lab.csv")

In [3]:
df

    1  Ayesha  A
0   2   Mehak  B
1   3   Aqdas  C
2   4  Halima  D
3   5  Muskan  E
4   6    Hira  F
5   7  Nabiha  G
6   8   Zobia  H
7   9    Sara  I
8  10   Farya  J

In [5]:
Hf=pd.read_table("/File Lab.csv")

In [6]:
Hf

   1,Ayesha,A
0   2,Mehak,B
1   3,Aqdas,C
2  4,Halima,D
3  5,Muskan,E
4    6,Hira,F
5  7,Nabiha,G
6   8,Zobia,H
7    9,Sara,I
8  10,Farya,J