In [1]:
print('Hello World!')
a=7
print(a)

Hello World!
7

In [2]:
print(2345)

2345

In [3]:
print("2092")

2092

In [4]:
a = 100
#print(a)
b = "Python"
print(b)

Python

In [5]:
'''It's a course
named
"python"

hf'''
print(6)

6

In [6]:
print("Let's learn about comments.")
# print(it is a single line comment)
print("Icode")

Let's learn about comments.
Icode

In [7]:
print("""Multi-line String""")
'''for multi-line comment, you can use # with every line or
simply use triple inverted commas(multi-line string).
ar
sar
ahghjj 
'''
#single line

print("My name is ayesha. I'm a student at university.I'm a good student.")

Multi-line String
My name is ayesha. I'm a student at university.I'm a good student.

In [46]:
a = "a variable"
# is = "won't allow a variable"
print(a)
# print(is)

a variable

In [9]:
x = 5 
y = 10.3
print('x')
print(y)
print(x,y)

x
10.3
5 10.3

In [10]:
a = "Icode"
b = 'Guru,'
print(a,b)
print(a,',',b)   #Shortcut ctrl + /

Icode Guru,
Icode , Guru,

In [11]:
myvariable = "Python"
print("myvariable")

myvariable

In [12]:
_myVar5 = "iCodeGuru"
myVariableName = 95                 
MyVariableName = 'Pakistan'         
myVariableName = 88.5 
print(myVariableName)

88.5

In [13]:
a = 10
a = 5
print(a)

5

In [14]:
camelCase = 100
snake_case = 5.9
PascalCase = "Python"

In [15]:
x, y, z = "Orange", 5, "Apple"
print(x)
print(y)
print(z)
a , b = 5 , 8
print(a)
print(b)

Orange
5
Apple
5
8

In [16]:
x = y = z = "Orange"
print(x)
print(y)
print(z)
a = b = c = 1
print(a)
print(b)
print(c)

Orange
Orange
Orange
1
1
1

In [17]:
x , y, z , a = 5 , 6, 7  , 8
print(x)
print(y)
print(z)

5
6
7

In [18]:
x = 5
y = 5
x = 10
print(x)
print(y)
print(id(x))
print(id(y))

10
5
9793376
9793216

In [19]:
x = "Hello"
print(id(x))
y = "Hello1"
print(id(y))

140480331663664
140480331663600

In [20]:
string_var = "Programming"
first_var = 20
float_var = 18.23
bool_var = False

print(string_var)
print(first_var)
print(float_var)
print(bool_var)

Programming
20
18.23
False

In [21]:
Var1 = 5
var1 = 1
print(var1)
print(Var1)
var2 = 2.5
print(type(var2))
var3 = """Hello"""
print(type(var3))
var4 = True
print(type(var4))

1
5
<class 'float'>
<class 'str'>
<class 'bool'>

In [22]:
first = "105"
print(type(first))
first = int(first)
print(first)
print(type(first))
second = 90.8
third = str(second)
print(third)
print(type(third))

<class 'str'>
105
<class 'int'>
90.8
<class 'str'>

In [23]:
string = False
string1 = str(string)
print(string1)
print(type(string1))

False
<class 'str'>

In [24]:
integer = 6
boolean = bool(integer)
print(boolean)

True

In [25]:
boolean = True
integer = int(boolean)
print(integer)

1

In [26]:
x = int(input("Enter anything"))
#print(x + 5)
#print(type(x))

Enter anything5

In [27]:
print('My name is Tahmas.')
a = "6"

My name is Tahmas.

In [28]:
x = "Python is"
X = bool(x)
print(X)
print(type(X))

True
<class 'bool'>

In [29]:
a = int(input("Enter username: "))
print(a)
print(type(a))
print(a+2)

Enter username: 5
5
<class 'int'>
7

In [30]:
print(8.0+4)

12.0

In [31]:
#Addition
a = int(input("Enter a number "))
b = 4
c = a + b
print(c)
print(type(c))
#print(3 + 7)

Enter a number 4
8
<class 'int'>

In [32]:
#Subtraction
a = 4
b = 5.0

print(a - b)
print(type(a - b))

-1.0
<class 'float'>

In [33]:
#Multiplication
a = 2.0
b = 4
print(a*b)
print(type(a*b))

8.0
<class 'float'>

In [34]:
#Division
x = 5
y = 5
z = x/y   #12/5
print(z)
print(type(z))
var = int(z)
print(var, type(var))

1.0
<class 'float'>
1 <class 'int'>

In [35]:
#Floor Division
x = 5
y = 5
z = x//y
print(z)
print(type(z))

1
<class 'int'>

In [36]:
#Exponentiation or Exponential
x = 5
y = 2   # 5 raised to power 2, 5*5
print(x**y)  # 1st value = base, 2nd value = power
print(type(x**y))

25
<class 'int'>

In [37]:
#Modulus
x = 5
y = 5
print(x%y)
print(type(x%y))

0
<class 'int'>

In [38]:
print(4 * 3 + 2 / 2)
# BODMAS

13.0

In [39]:
#print('comment')
a = """mulitiline
comment
""
''
lsdfh"""
print(a)

mulitiline
comment
""
''
lsdfh

In [40]:
x = 5
#x += 3    # x = x+3
#x -= 3      # x = x - 3
#x *= x       # x = 5*5
#x /= 3        # x = x/3
#x %= 3
#x //= 3
x **= 3       
print(x)

125

In [41]:
print(12 + 5 * (4 - 2))

22

In [42]:
x = 5
x **= 5    #x = x**5
print(x)

3125

In [43]:
a = 7
b = 10
print(a!=b)
#print(a==b)
#print(a<b)

True

In [47]:
x = 9
#print(x < 11 and  x < 10)
print(x < 5 or x < 10)
# print(not(x < 5) not (x < 10)))
print(not x > 10)

True
True

In [48]:
x = 9
print(not x>10)

True

In [49]:
a = 20
b = 70
print(a==b or a>b)

False